body{
    background: #4f4f4f;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 650px;
    background: black;
    background: url("./images/bg.jpg");
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 120px;
    margin: 25px 45px;
}

.entrar{
    background: #f50000;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 25px;
    right: 0;
    margin: 0 65px;
}

.caixa{
    width: 500px;
    color: whitesmoke;
    margin: auto ;
    position: relative;
    top: 180px;
}

.caixa h1{
    font-size: 48px;
    text-align: center;
}

.caixa h2{
    font-size: 21px;
    padding: 15px;
    text-align: center;
}

.caixa p{
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.formulario{
    width: 650px;
}

.input-padrao{
    width: 50%;
    padding: 15px 30px 15px 5px;
    margin: 0;
}

.enviar{
    width: 25%;
    padding: 17px 20px;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background: #f50000;
    border: #f50000;
}

section{
    padding: 100px;
    margin: 7px 0 0 0;
    background: #090707;
    color: white;
}

.beneficios{
    width: 420px;
}

.beneficios h2{
    font-size: 40px;
}

.beneficios p{
    font-size: 20px;
    padding: 15px 0;
}
