header{
    height: 700px;
    /* background: #000000; */
    /* background: url("https://assets.nflxext.com/ffe/siteui/vlv3/5812306a-6b67-4f2e-aac7-11436dda1e09/0a0f8952-65ec-497c-86cc-771139b0371d/BR-pt-20200127-popsignuptwoweeks-perspective_alpha_website_small.jpg"); */
    background: url("./images/bg.jpg");
    box-shadow: inset 0 0 30px #000000;
    padding: 40px 50px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: auto;
}

.logo{
    width: 120px;
    position: absolute;
    left: -200px;
    /* padding: 20px 20px; */
    /* display: inline; */
}

.entrar{
    width: 70px;
    background: #f50000;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    position: absolute;
    right: -170px;
    top: 0px
}

.assine{
    width: 600px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 180px  ;
}

.assine h2{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.assine h3{
    font-size: 24px;
    padding: 20px;
    color: white;
}



.assine p{
    font-size: 18px;
    padding: 20px;
    color: white;
}

.input-padrao{
    padding: 15px 30px;
    width: 50%;
}

.enviar{
    text-transform: uppercase;
    display: inline;
    padding: 17px 30px;
    background: #f50000;
    color: white;
    border: none;
    margin: 0;
}